body {
  background: linear-gradient(112.23deg, #3e718e 0%, #64969b 100%);
  height: 959px;
  font-family: 'Space Grotesk', sans-serif;
}

.form {
  display: flex;
  width: 70%;
  margin: 110px auto 0;
  overflow: hidden;
}

.main__container {
  width: 55%;
  background: white;
  background-image: url(../img/Stroke\ 5.png);
}

.main__caption {
  padding-left: 32px;
  padding-top: 11px;
  margin: 0;
  background: linear-gradient(
    93.38deg,
    #496f74 -3.47%,
    #6e9195 35.61%,
    #2d4f61 84.29%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.main {
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-content: center;
  margin: 0 auto;
}

.main > p {
  margin: 0;
}

#field1,
#field2,
#field3,
#field4,
#field5 {
  width: 95%;
  color: #cccccc;
  padding: 5px 0 5px 8px;
}

.main__field1,
.main__field2,
.main__field3 {
  padding-bottom: 15px;
}

.main__title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.main__txt1,
.main__txt2 {
  color: #a8a8a8;
  font-size: 10px;
  padding: 0;
}

.main__txt2 {
  padding-bottom: 9px;
}

.main__txt3 {
  color: #a8a8a8;
  font-size: 12px;
}

.main__btn {
  background: #284a5e;
  width: 95%;
  text-align: center;
  padding: 5px 0;
}

.main__btn > a {
  color: white;
  text-decoration: none;
  line-height: 24px;
}

.main__btn-caption {
  color: #a8a8a8;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 37px;
}

.main__btn-caption > a {
  color: #476d73;
  font-weight: 700;
}

.aside__container {
  width: 45%;
  background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
  box-shadow: 0px 0px 10px 9px #4e7577;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside__header > ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 13px;
  right: 0px;
}

.aside__header > ul > li > a {
  text-decoration: none;
  padding-right: 24px;
  color: white;
  font-weight: 700;
}

.aside__content {
  padding-left: 50px;
}

.aside__content > h2 {
  font-weight: 700;
  font-size: 42px;
  color: #ffffff;
  opacity: 0.8;
  text-shadow: 3px 3px rgb(255, 255, 255, 0.1);
  margin: 0;
}

.aside__content > p {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.7;
}
