body {
  font-family: 'Space Grotesk', sans-serif;
}

.main__container {
  width: 375px;
  margin: 0 auto;
  border: 1px solid gray;
  background: url(../img/Stroke\ 5.png);
  background-repeat: no-repeat;
  position: relative;
}

.main__caption {
  padding: 48px 0 0 32px;
  margin: 0;
  background: linear-gradient(
    93.38deg,
    #496f74 -3.47%,
    #6e9195 35.61%,
    #2d4f61 84.29%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.aside__header > ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 48px;
  right: 32px;
}

.aside__header > ul > li > a {
  text-decoration: none;
  color: #24445b;
  font-weight: 700;
  font-size: 14px;
  padding-left: 24px;
}

.main__title {
  color: #24445b;
  font-size: 18px;
  line-height: 36px;
  margin: 64px 0 0 32px;
  padding-bottom: 40px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-content: center;
  margin: 0 auto;
}
.main > p {
  margin: 0;
}
#field1,
#field2,
#field3,
#field4,
#field5 {
  width: 95%;
  padding: 12px 0 12px 16px;
  color: #cccccc;
}

.main__field1,
.main__field2,
.main__field3 {
  padding-bottom: 24px;
}

label {
  line-height: 32px;
}
.main__txt1,
.main__txt2 {
  color: #a8a8a8;
  font-size: 10px;
  padding: 0;
}

.main__txt2 {
  padding-bottom: 9px;
}

.main__txt3 {
  color: #a8a8a8;
  font-size: 12px;
}

.main__btn {
  background: #284a5e;
  width: 95%;
  text-align: center;
  padding: 5px 0;
}

.main__btn > a {
  color: white;
  text-decoration: none;
  line-height: 24px;
}
.main__btn-caption {
  color: #a8a8a8;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 37px;
}

.main__btn-caption > a {
  color: #476d73;
  font-weight: 700;
}

.pass-eye {
  background: url(../img/eye.svg) no-repeat;
  background-position: center right 5px;
}
